In [68]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
import snowflake.connector
from sklearn.impute import SimpleImputer
import numpy as np
import os
from dotenv import load_dotenv

In [69]:
load_dotenv()
# print()
# Database connection parameters
hostname = os.getenv("HOSTNAME")
database = os.getenv("DATABASE")
username = os.getenv("USER_NAME")
pwd = os.getenv("PGPASS")
port_id = os.getenv("PORTID")


print(hostname)
print(database)
print(username)
print(pwd)
print(port_id)



# Creating SQLAlchemy engine
engine = create_engine(f'postgresql://{username}:{pwd}@{hostname}/{database}')

localhost
ecommerce
postgres
33386
5432

In [70]:
# Fetch the environment variables
snow_user = os.getenv("SNOW_USER")
snow_password = os.getenv("SNOW_PASSWORD")
account = os.getenv("ACCOUNT")
warehouse = os.getenv("WAREHOUSE")
snow_database = os.getenv("SNOW_DATABASE")
schema = os.getenv("SCHEMA")

# You can now use these variables in your application
print("Username:", snow_user)
print("Password:", snow_password)
print("Account:", account)
print("Warehouse:", warehouse)
print("Database:", snow_database)
print("Schema:", schema)

# Establish connection using the environment variables
snowflake_connection = snowflake.connector.connect(
    user=snow_user,
    password=snow_password,
    account=account,
    warehouse=warehouse,
    database=snow_database,
    schema=schema
)

print(snowflake_connection)


# snowflake_connection.cursor().execute("DROP SCHEMA  testschema_mg")

Username: kamanlimbu
Password: Kaman@33386
Account: yh31700.ap-south-1
Warehouse: ECOMMERCE_WH
Database: ECOMMERCE
Schema: ECOMMERSE_SCHEMA
<snowflake.connector.connection.SnowflakeConnection object at 0x000001E865D49DC0>

In [44]:


def extract():
    try:
        # Connecting to PostgreSQL database
        connection = psycopg2.connect(
            host=hostname, 
            dbname=database, 
            user=username, 
            password=pwd, 
            port=port_id
        )
        curr = connection.cursor()
        connection.set_session(autocommit=True)

        query = """
            SELECT DISTINCT(table_name) as tableNAME
            FROM
                information_schema.columns
            WHERE
                table_schema = 'public'
            ORDER BY
                table_name
        """
        curr.execute(query)
        result = curr.fetchall()

        for tab in result:
            # print(tab[0])
            df = pd.read_sql_query(f'SELECT * FROM {tab[0]}', engine)
            transform(df, tab[0])

    except psycopg2.Error as e:
        print(f"Database error: {e}")
    except Exception as e:
        print(f"Other error: {e}")
    finally:
        if curr:
            curr.close()
        if connection:
            connection.close()


def transform(df, tab):
    # Implement the actual load functionality here
    print("Starting transformation..1..2..3!!")
    print("Table Name:", tab)
    print("Before rows:", df.shape)

    numerical_columns = df.select_dtypes(include=[np.number]).columns
    text_columns = df.select_dtypes(include=[object]).columns
    date_columns = df.select_dtypes(include=[np.datetime64]).columns

    if not df.empty and len(numerical_columns) > 0:
    # Impute missing values in numerical columns
        numerical_imputer = SimpleImputer(strategy='mean')
        df[numerical_columns] = numerical_imputer.fit_transform(df[numerical_columns])
    else:
        print("No numerical columns to impute.")

    if not df.empty and len(text_columns) > 0:
    # Impute missing values in text columns
        df[text_columns] = df[text_columns].fillna('Not Available')
        # text_imputer = SimpleImputer(strategy='missing_values', fill_value='Not Available')
        # df[text_columns] = text_imputer.fit_transform(df[text_columns])
    else:
        print("No text columns to impute.")

    if not df.empty and len(date_columns) > 0:
    # Impute missing values in date columns using forward fill
        df[date_columns] = df[date_columns].fillna(method='ffill')
        # If any NaT values remain (e.g., if the first value was NaT), use backward fill
        df[date_columns] = df[date_columns].fillna(method='bfill')
    else:
        print("No date columns to impute.")

    display(df[df.isna().any(axis=1)])
    display(df.columns.dtype)

    updated_dataframe = pd.DataFrame(df)
    updated_dataframe.drop_duplicates()
    print("Table Name:", tab)
    display(updated_dataframe.head(10))
    load(updated_dataframe, tab)


def load(dataframe, tab):
    print("Loading Data in Snowflake data warehouse...")
    print("1....2.....3.....")
    print(f"Create {tab} table in SnowFlake")

    dtype_mapping = {
    'int64': 'INTEGER',
    'float64': 'FLOAT',
    'object': 'STRING'
    }

    create_table_sql = f"""
    CREATE OR REPLACE TABLE {tab} (
    {', '.join([f'{col} {dtype_mapping[str(dtype)]}' for col, dtype in dataframe.dtypes.items()])}
    );
    """
    snowflake_connection.cursor().execute(create_table_sql)

    # Batch size
    batch_size = 200000 // len(dataframe.columns)  # Adjust batch size based on the number of columns

    # Insert data into Snowflake table in batches
    insert_sql = f"INSERT INTO {tab} ({', '.join(dataframe.columns)}) VALUES ({', '.join(['%s'] * len(dataframe.columns))})"
    for start in range(0, len(dataframe), batch_size):
        batch_data = [tuple(row) for row in dataframe.iloc[start:start + batch_size].itertuples(index=False, name=None)]
        with snowflake_connection.cursor() as cursor:
            cursor.executemany(insert_sql, batch_data)
    
    print(f"Data loaded into {tab} successfully!")

extract()

Starting transformation..1..2..3!!
Table Name: customer
Before rows: (99441, 5)
No date columns to impute.

Empty DataFrame
Columns: [customer_id, customer_unique_id, customer_zip_code_prefix, customer_city, customer_state]
Index: []

dtype('O')

Table Name: customer

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409.0,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790.0,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151.0,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775.0,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056.0,campinas,SP
5,879864dab9bc3047522c92c82e1212b8,4c93744516667ad3b8f1fb645a3116a4,89254.0,jaragua do sul,SC
6,fd826e7cf63160e536e0908c76c3f441,addec96d2e059c80c30fe6871d30d177,4534.0,sao paulo,SP
7,5e274e7a0c3809e14aba7ad5aae0d407,57b2a98a409812fe9618067b6b8ebe4f,35182.0,timoteo,MG
8,5adf08e34b2e993982a47070956c5c65,1175e95fb47ddff9de6b2b06188f7e0d,81560.0,curitiba,PR
9,4b7139f34592b3a31687243a302fa75b,9afe194fb833f79e300e37e580171f22,30575.0,belo horizonte,MG

Loading Data in Snowflake data warehouse...
1....2.....3.....
Create customer table in SnowFlake
Data loaded into customer successfully!
Starting transformation..1..2..3!!
Table Name: geolocation
Before rows: (1000163, 5)
No date columns to impute.

Empty DataFrame
Columns: [geolocation_zip_code_prefix, geolocation_lat, geolocation_lng, geolocation_city, geolocation_state]
Index: []

dtype('O')

Table Name: geolocation

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037.0,-23.545621,-46.639292,sao paulo,SP
1,1046.0,-23.546081,-46.644820,sao paulo,SP
2,1046.0,-23.546129,-46.642951,sao paulo,SP
3,1041.0,-23.544392,-46.639499,sao paulo,SP
4,1035.0,-23.541578,-46.641607,sao paulo,SP
5,1012.0,-23.547762,-46.635361,são paulo,SP
6,1047.0,-23.546273,-46.641225,sao paulo,SP
7,1013.0,-23.546923,-46.634264,sao paulo,SP
8,1029.0,-23.543769,-46.634278,sao paulo,SP
9,1011.0,-23.547640,-46.636032,sao paulo,SP

Loading Data in Snowflake data warehouse...
1....2.....3.....
Create geolocation table in SnowFlake
Data loaded into geolocation successfully!
Starting transformation..1..2..3!!
Table Name: order_items
Before rows: (112650, 7)
No date columns to impute.

Empty DataFrame
Columns: [order_id, order_item_id, product_id, seller_id, shipping_limit_date, price, freight_value]
Index: []

dtype('O')

Table Name: order_items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1.0,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1.0,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1.0,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1.0,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1.0,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
5,00048cc3ae777c65dbb7d2a0634bc1ea,1.0,ef92defde845ab8450f9d70c526ef70f,6426d21aca402a131fc0a5d0960a3c90,2017-05-23 03:55:27,21.90,12.69
6,00054e8431b9d7675808bcb819fb4a32,1.0,8d4f2bb7e93e6710a28f34fa83ee7d28,7040e82f899a04d1b434b795a43b4617,2017-12-14 12:10:31,19.90,11.85
7,000576fe39319847cbb9d288c5617fa6,1.0,557d850972a7d6f792fd18ae1400d9b6,5996cddab893a4652a15592fb58ab8db,2018-07-10 12:30:45,810.00,70.75
8,0005a1a1728c9d785b8e2b08b904576c,1.0,310ae3c140ff94b03219ad0adc3c778f,a416b6a846a11724393025641d4edd5e,2018-03-26 18:31:29,145.95,11.65
9,0005f50442cb953dcd1d21e1fb923495,1.0,4535b0e1091c278dfd193e5a1d63b39f,ba143b05f0110f0dc71ad71b4466ce92,2018-07-06 14:10:56,53.99,11.40

Loading Data in Snowflake data warehouse...
1....2.....3.....
Create order_items table in SnowFlake
Data loaded into order_items successfully!
Starting transformation..1..2..3!!
Table Name: order_payments
Before rows: (103886, 5)
No date columns to impute.

Empty DataFrame
Columns: [order_id, payment_sequential, payment_type, payment_installments, payment_value]
Index: []

dtype('O')

Table Name: order_payments

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1.0,credit_card,8.0,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1.0,credit_card,1.0,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1.0,credit_card,1.0,65.71
3,ba78997921bbcdc1373bb41e913ab953,1.0,credit_card,8.0,107.78
4,42fdf880ba16b47b59251dd489d4441a,1.0,credit_card,2.0,128.45
5,298fcdf1f73eb413e4d26d01b25bc1cd,1.0,credit_card,2.0,96.12
6,771ee386b001f06208a7419e4fc1bbd7,1.0,credit_card,1.0,81.16
7,3d7239c394a212faae122962df514ac7,1.0,credit_card,3.0,51.84
8,1f78449c87a54faf9e96e88ba1491fa9,1.0,credit_card,6.0,341.09
9,0573b5e23cbd798006520e1d5b4c6714,1.0,boleto,1.0,51.95

Loading Data in Snowflake data warehouse...
1....2.....3.....
Create order_payments table in SnowFlake
Data loaded into order_payments successfully!
Starting transformation..1..2..3!!
Table Name: order_review
Before rows: (99224, 7)
No date columns to impute.

Empty DataFrame
Columns: [review_id, order_id, review_score, review_comment_title, review_comment_message, review_creation_date, review_answer_timestamp]
Index: []

dtype('O')

Table Name: order_review

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4.0,Not Available,Not Available,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5.0,Not Available,Not Available,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5.0,Not Available,Not Available,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5.0,Not Available,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5.0,Not Available,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
5,15197aa66ff4d0650b5434f1b46cda19,b18dcdf73be66366873cd26c5724d1dc,1.0,Not Available,Not Available,2018-04-13 00:00:00,2018-04-16 00:39:37
6,07f9bee5d1b850860defd761afa7ff16,e48aa0d2dcec3a2e87348811bcfdf22b,5.0,Not Available,Not Available,2017-07-16 00:00:00,2017-07-18 19:30:34
7,7c6400515c67679fbee952a7525281ef,c31a859e34e3adac22f376954e19b39d,5.0,Not Available,Not Available,2018-08-14 00:00:00,2018-08-14 21:36:06
8,a3f6f7f6f433de0aefbb97da197c554c,9c214ac970e84273583ab523dfafd09b,5.0,Not Available,Not Available,2017-05-17 00:00:00,2017-05-18 12:05:37
9,8670d52e15e00043ae7de4c01cc2fe06,b9bf720beb4ab3728760088589c62129,4.0,recomendo,aparelho eficiente. no site a marca do aparelh...,2018-05-22 00:00:00,2018-05-23 16:45:47

Loading Data in Snowflake data warehouse...
1....2.....3.....
Create order_review table in SnowFlake
Data loaded into order_review successfully!
Starting transformation..1..2..3!!
Table Name: orders
Before rows: (99441, 8)
No numerical columns to impute.
No date columns to impute.

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date]
Index: []

dtype('O')

Table Name: orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
5,a4591c265e18cb1dcee52889e2d8acc3,503740e9ca751ccdda7ba28e9ab8f608,delivered,2017-07-09 21:57:05,2017-07-09 22:10:13,2017-07-11 14:58:04,2017-07-26 10:57:55,2017-08-01 00:00:00
6,136cce7faa42fdb2cefd53fdc79a6098,ed0271e0b7da060a393796590e7b737a,invoiced,2017-04-11 12:22:08,2017-04-13 13:25:17,Not Available,Not Available,2017-05-09 00:00:00
7,6514b8ad8028c9f2cc2374ded245783f,9bdf08b4b3b52b5526ff42d37d47f222,delivered,2017-05-16 13:10:30,2017-05-16 13:22:11,2017-05-22 10:07:46,2017-05-26 12:55:51,2017-06-07 00:00:00
8,76c6e866289321a7c93b82b54852dc33,f54a9f0e6b351c431402b8461ea51999,delivered,2017-01-23 18:29:09,2017-01-25 02:50:47,2017-01-26 14:16:31,2017-02-02 14:08:10,2017-03-06 00:00:00
9,e69bfb5eb88e0ed6a785585b27e16dbf,31ad1d1b63eb9962463f764d4e6e0c9d,delivered,2017-07-29 11:55:02,2017-07-29 12:05:32,2017-08-10 19:45:24,2017-08-16 17:14:30,2017-08-23 00:00:00

Loading Data in Snowflake data warehouse...
1....2.....3.....
Create orders table in SnowFlake
Data loaded into orders successfully!
Starting transformation..1..2..3!!
Table Name: product_category
Before rows: (71, 2)
No numerical columns to impute.
No date columns to impute.

Empty DataFrame
Columns: [product_category_name, product_category_name_english]
Index: []

dtype('O')

Table Name: product_category

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor
5           esporte_lazer                sports_leisure
6              perfumaria                     perfumery
7   utilidades_domesticas                    housewares
8               telefonia                     telephony
9      relogios_presentes                 watches_gifts

Loading Data in Snowflake data warehouse...
1....2.....3.....
Create product_category table in SnowFlake
Data loaded into product_category successfully!
Starting transformation..1..2..3!!
Table Name: products
Before rows: (32951, 9)
No date columns to impute.

Empty DataFrame
Columns: [product_id, product_category_name, product_name_lenght, product_description_lenght, product_photos_qty, product_weight_g, product_length_cm, product_height_cm, product_width_cm]
Index: []

dtype('O')

Table Name: products

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0
5,41d3672d4792049fa1779bb35283ed13,instrumentos_musicais,60.0,745.0,1.0,200.0,38.0,5.0,11.0
6,732bd381ad09e530fe0a5f457d81becb,cool_stuff,56.0,1272.0,4.0,18350.0,70.0,24.0,44.0
7,2548af3e6e77a690cf3eb6368e9ab61e,moveis_decoracao,56.0,184.0,2.0,900.0,40.0,8.0,40.0
8,37cc742be07708b53a98702e77a21a02,eletrodomesticos,57.0,163.0,1.0,400.0,27.0,13.0,17.0
9,8c92109888e8cdf9d66dc7e463025574,brinquedos,36.0,1156.0,1.0,600.0,17.0,10.0,12.0

Loading Data in Snowflake data warehouse...
1....2.....3.....
Create products table in SnowFlake
Data loaded into products successfully!
Starting transformation..1..2..3!!
Table Name: sellers
Before rows: (3095, 4)
No date columns to impute.

Empty DataFrame
Columns: [seller_id, seller_zip_code_prefix, seller_city, seller_state]
Index: []

dtype('O')

Table Name: sellers

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023.0,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844.0,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031.0,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195.0,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914.0,braganca paulista,SP
5,c240c4061717ac1806ae6ee72be3533b,20920.0,rio de janeiro,RJ
6,e49c26c3edfa46d227d5121a6b6e4d37,55325.0,brejao,PE
7,1b938a7ec6ac5061a66a3766e0e75f90,16304.0,penapolis,SP
8,768a86e36ad6aae3d03ee3c6433d61df,1529.0,sao paulo,SP
9,ccc4bbb5f32a6ab2b7066a4130f114e3,80310.0,curitiba,PR

Loading Data in Snowflake data warehouse...
1....2.....3.....
Create sellers table in SnowFlake
Data loaded into sellers successfully!

dtype('float64')